<h1>Delete album</h1>

<p>Are you sure you want to delete the album '<%= @album.title %>'?</p>

<p>Please note that none of the images in the album will be deleted in the process.</p>

<p>
  <%= button_to 'Yes, delete the album', @album, method: :delete %>
  <%= button_to 'No, cancel', @album, method: :get %>
</p>
