@import 'constants';

ul.photostrip {
  list-style: none;
  padding: 0px;
  margin: 0px -15px -10px 0px;
  display: flex;
  flex-wrap: wrap;

  li {
    margin: 0px 15px 10px 0px;
    position: relative;
  }

  .warning-icon, .delete-button {
    padding: 10px;
    position: absolute;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  }

  .delete-button {
    right: 0px;
    cursor: pointer;
    visibility: hidden;
  }

  li:hover a.delete-button {
    visibility: visible;
  }

  img {
    width: 100%;
  }
}

div.photostrip.add-button {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  background-color: lighten($base-color, 5%);
}
